data/uploads/20250714_220715_uprisings.csv
data/uploads/instituciones.csv
data/uploads/instituciones_cleaned.csv
data/uploads/polygon_year.csv
data/uploads/polygon_year_cleaned.csv
data/uploads/uprisings.csv
data/uploads/uprisings_1.csv
data/uploads/uprisings_2.csv
data/uploads/uprisings_3.csv
data/uploads/uprisings_4.csv
data/uploads/uprisings_5.csv
data/uploads/uprisings_6.csv
data/uploads/uprisings_7.csv
data/uploads/uprisings_8.csv
data/uploads/uprisings_9.csv
data/uploads/uprisings_cleaned.csv
data/uploads/uprisings_constraints.json
data/uploads/uprisings_phase_1_v_1.csv
data/uploads/uprisings_phase_1x.csv
data/uploads/uprisings_phase_1xx.csv
data/uploads/uprisings_processing.csv
data/uploads/uprisings_processingx.csv
data/uploads/uprisings_status.txt
enciclopedia/templates/x_map.html
enciclopedia/templates/xpeople_detail.html
enciclopedia/templates/xpeople_search.html
enciclopedia/templates/xplace_detail.html
enciclopedia/templates/xplace_search.html
enciclopedia/templates/xterritory_detail.html
enciclopedia/templates/xterritory_search.html
